CODE INSTITUT CFGS/Llenguatge de Marques/XML/VocabulariExtern2/Botiga.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="botiga">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zonaVenda"></xs:element>
                <xs:element name="zonaGestio"></xs:element>
                <xs:element name="comanda" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="codi" type="xs:string" />
                            <xs:element name="nomEmpleat" type="xs:string" />
                            <xs:element name="data" type="xs:date"></xs:element>
                            <xs:element name="observacions" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                            <xs:element name="article" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="codiArticle" type="xs:string" />
                                        <xs:element name="numQuilos" type="xs:string" />
                                        <xs:element name="observacions" type="xs:string"
                                            minOccurs="0"
                                            maxOccurs="unbounded"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>